:root {
    --accent: #4f86ff;
    --muted: #f6fafc;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: #222;
    font-family: Arial, sans-serif;
    background: var(--muted);
    display: flex;
    min-height: 100vh;
    align-items: flex-start;
    justify-content: center;
    padding: 12px;
}

img {
    max-width: 100%;
    display: block;
}

/* Side menu */
.side-menu {
    position: fixed;
    left: -320px;
    top: 0;
    width: 280px;
    height: 100%;
    background: #fff;
    box-shadow: 2px 0 12px rgba(0,0,0,0.06);
    transition: left .25s ease;
    padding: 20px;
    z-index: 50;
}

    .side-menu.open {
        left: 0;
    }

.menu-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.menu-logo {
    width: 120px;
    height: auto;
}

.close-btn {
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
}

.menu-list {
    margin-top: 18px;
}

.menu-item {
    display: block;
    padding: 12px 10px;
    border-radius: 10px;
    text-decoration: none;
    color: #222;
    margin-bottom: 6px;
    font-size: 18px;
    cursor: pointer;
}

    .menu-item.active {
        background: #6e98ff;
        color: #fff;
    }

/* page content */
.page {
    width: 100%;
    max-width: 720px;
    margin-left: 0;
    padding-bottom: 100px;
    transition: margin-left .25s;
    padding-top: 16px;
}

    .page.shift {
        margin-left: 280px;
    }

.topbar {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 14px 16px;
    background: #fff;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03);
    border-radius: 10px;
}

.hamb {
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
}

.user-card {
    background: #628AFF;
    color: #fff;
    margin: 16px 0;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    gap: 16px;
    align-items: center;
    box-shadow: 0 8px 20px rgba(50,70,140,0.06);
}

.user-photo {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

/* check cards area */
.cards {
    padding: 0 12px;/*16PX*/
}

.check-card {
    background: #e8efff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    margin: 10px 0;
    border-radius: 8px;
}

.primary {
    background: var(--accent);
    color: #fff;
    border: 0;
    padding: 10px 18px;
    border-radius: 12px;
    cursor: pointer;
}

/* bottom nav */
.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%; /* FULL STRIP */
    background: #fff;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    box-shadow: 0 -2px 10px rgba(0,0,0,0.1);
    border-radius: 0; /* REMOVE ROUND PILL */
}

    .bottom-nav a {
        font-size: 22px;
        color: #2f4ea4;
        cursor: pointer;
    }

/* small responsiveness */
@media (max-width:600px) {
    .page {
        max-width: 100%;
        padding: 12px;
    }
}
/* helper */
.muted {
    color: #444;
    font-size: 14px;
}

/* Login card */
.login-card {
    max-width: 380px;
    margin: 40px auto;
    background: #fff;
    border-radius: 12px;
    padding: 26px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.06);
    text-align: left;
}

    .login-card .logo {
        width: 180px;
        margin-bottom: 8px;
    }

    .login-card button {
        width: 100%;
        padding: 12px;
        border-radius: 10px;
        background: #5b8cff;
        color: #fff;
        border: none;
        font-size: 18px;
        margin-top: 10px;
    }

    .login-card a {
        display: block;
        margin-top: 10px;
        color: #5b8cff;
        text-decoration: none;
    }

    .login-card input {
        width: 100%;
        padding: 12px;
        margin: 8px 0;
        border-radius: 8px;
        border: 1px solid #eee;
        box-sizing: border-box;
    }

    .login-card .primary {
        width: 100%;
        padding: 12px;
        background: #4f86ff;
        color: #fff;
        border: 0;
        border-radius: 10px;
        font-size: 18px;
    }
    /*table css*/
.table {
    --bs-table-color-type: initial;
    --bs-table-bg-type: initial;
    --bs-table-color-state: initial;
    --bs-table-bg-state: initial;
    --bs-table-color: var(--bs-emphasis-color);
    --bs-table-bg: var(--bs-body-bg);
    --bs-table-border-color: #ebf1f6;
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: var(--bs-emphasis-color);
    --bs-table-striped-bg: #EAEFF4;
    --bs-table-active-color: var(--bs-emphasis-color);
    --bs-table-active-bg: rgba(var(--bs-emphasis-color-rgb), 0.1);
    --bs-table-hover-color: var(--bs-emphasis-color);
    --bs-table-hover-bg: #F6F9FC;
    width: 100%;
    margin-bottom: 1rem;
    vertical-align: top;
    border-color: var(--bs-table-border-color);
}

    .table > :not(caption) > * > * {
        padding: 16px 16px;
        color: var(--bs-table-color-state, var(--bs-table-color-type, var(--bs-table-color)));
        background-color: var(--bs-table-bg);
        border-bottom-width: var(--bs-border-width);
        box-shadow: inset 0 0 0 9999px var(--bs-table-bg-state, var(--bs-table-bg-type, var(--bs-table-accent-bg)));
    }

    .table > tbody {
        vertical-align: inherit;
    }

    .table > thead {
        vertical-align: bottom;
    }

.table-group-divider {
    border-top: calc(var(--bs-border-width) * 2) solid currentcolor;
}

.caption-top {
    caption-side: top;
}

.table-sm > :not(caption) > * > * {
    padding: 0.25rem 0.25rem;
}

.table-bordered > :not(caption) > * {
    border-width: var(--bs-border-width) 0;
}

    .table-bordered > :not(caption) > * > * {
        border-width: 0 var(--bs-border-width);
    }

.table-borderless > :not(caption) > * > * {
    border-bottom-width: 0;
}

.table-borderless > :not(:first-child) {
    border-top-width: 0;
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
    --bs-table-color-type: var(--bs-table-striped-color);
    --bs-table-bg-type: var(--bs-table-striped-bg);
}

.table-striped-columns > :not(caption) > tr > :nth-child(even) {
    --bs-table-color-type: var(--bs-table-striped-color);
    --bs-table-bg-type: var(--bs-table-striped-bg);
}

.table-active {
    --bs-table-color-state: var(--bs-table-active-color);
    --bs-table-bg-state: var(--bs-table-active-bg);
}

.table-hover > tbody > tr:hover > * {
    --bs-table-color-state: var(--bs-table-hover-color);
    --bs-table-bg-state: var(--bs-table-hover-bg);
}

.table-primary {
    --bs-table-color: #000;
    --bs-table-bg: rgb(222.6, 231, 255);
    --bs-table-border-color: rgb(178.08, 184.8, 204);
    --bs-table-striped-bg: rgb(211.47, 219.45, 242.25);
    --bs-table-striped-color: #000;
    --bs-table-active-bg: rgb(200.34, 207.9, 229.5);
    --bs-table-active-color: #000;
    --bs-table-hover-bg: rgb(205.905, 213.675, 235.875);
    --bs-table-hover-color: #000;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
}

.table-secondary {
    --bs-table-color: #000;
    --bs-table-bg: rgb(218.6, 242, 255);
    --bs-table-border-color: rgb(174.88, 193.6, 204);
    --bs-table-striped-bg: rgb(207.67, 229.9, 242.25);
    --bs-table-striped-color: #000;
    --bs-table-active-bg: rgb(196.74, 217.8, 229.5);
    --bs-table-active-color: #000;
    --bs-table-hover-bg: rgb(202.205, 223.85, 235.875);
    --bs-table-hover-color: #000;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
}

.table-success {
    --bs-table-color: #000;
    --bs-table-bg: rgb(207.8, 248.4, 241);
    --bs-table-border-color: rgb(166.24, 198.72, 192.8);
    --bs-table-striped-bg: rgb(197.41, 235.98, 228.95);
    --bs-table-striped-color: #000;
    --bs-table-active-bg: rgb(187.02, 223.56, 216.9);
    --bs-table-active-color: #000;
    --bs-table-hover-bg: rgb(192.215, 229.77, 222.925);
    --bs-table-hover-color: #000;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
}

.table-info {
    --bs-table-color: #000;
    --bs-table-bg: rgb(220.6, 235, 255);
    --bs-table-border-color: rgb(176.48, 188, 204);
    --bs-table-striped-bg: rgb(209.57, 223.25, 242.25);
    --bs-table-striped-color: #000;
    --bs-table-active-bg: rgb(198.54, 211.5, 229.5);
    --bs-table-active-color: #000;
    --bs-table-hover-bg: rgb(204.055, 217.375, 235.875);
    --bs-table-hover-color: #000;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
}

.table-warning {
    --bs-table-color: #000;
    --bs-table-bg: rgb(255, 238.8, 210.2);
    --bs-table-border-color: rgb(204, 191.04, 168.16);
    --bs-table-striped-bg: rgb(242.25, 226.86, 199.69);
    --bs-table-striped-color: #000;
    --bs-table-active-bg: rgb(229.5, 214.92, 189.18);
    --bs-table-active-color: #000;
    --bs-table-hover-bg: rgb(235.875, 220.89, 194.435);
    --bs-table-hover-color: #000;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
}

.table-danger {
    --bs-table-color: #000;
    --bs-table-bg: rgb(254, 231.4, 225.4);
    --bs-table-border-color: rgb(203.2, 185.12, 180.32);
    --bs-table-striped-bg: rgb(241.3, 219.83, 214.13);
    --bs-table-striped-color: #000;
    --bs-table-active-bg: rgb(228.6, 208.26, 202.86);
    --bs-table-active-color: #000;
    --bs-table-hover-bg: rgb(234.95, 214.045, 208.495);
    --bs-table-hover-color: #000;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
}

.table-light {
    --bs-table-color: #000;
    --bs-table-bg: #F6F9FC;
    --bs-table-border-color: rgb(196.8, 199.2, 201.6);
    --bs-table-striped-bg: rgb(233.7, 236.55, 239.4);
    --bs-table-striped-color: #000;
    --bs-table-active-bg: rgb(221.4, 224.1, 226.8);
    --bs-table-active-color: #000;
    --bs-table-hover-bg: rgb(227.55, 230.325, 233.1);
    --bs-table-hover-color: #000;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
}

.table-dark {
    --bs-table-color: #fff;
    --bs-table-bg: #2A3547;
    --bs-table-border-color: rgb(84.6, 93.4, 107.8);
    --bs-table-striped-bg: rgb(52.65, 63.1, 80.2);
    --bs-table-striped-color: #fff;
    --bs-table-active-bg: rgb(63.3, 73.2, 89.4);
    --bs-table-active-color: #fff;
    --bs-table-hover-bg: rgb(57.975, 68.15, 84.8);
    --bs-table-hover-color: #fff;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
}

.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

@media (max-width: 575.98px) {
    .table-responsive-sm {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}

@media (max-width: 767.98px) {
    .table-responsive-md {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}

@media (max-width: 991.98px) {
    .table-responsive-lg {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}

@media (max-width: 1199.98px) {
    .table-responsive-xl {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}

.native-date {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

select.input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border-radius: 8px;
    border: 1px solid #eee;
    box-sizing: border-box;
    -webkit-appearance: menulist;
    -moz-appearance: menulist;
    appearance: menulist;
    background-color: #fff !important;
    /*border: 1px solid #ccc !important;*/
    /*padding: 8px !important;*/
}
.check-info {
    width: 100%;
}

.check-address {
    font-size: 13px;
    color: #333;
    margin-top: 4px;
    line-height: 1.4;
}

.check-datetime {
    font-size: 13px;
    color: #555;
    margin-top: 4px;
    white-space: nowrap;
}
